@import '../css/index.css';
.page{
  background-color:#D7CEC7 !important;
}
.nav_text{
  color: #D7CEC7;
}
.nav_text:hover{
  color:white;
  font-weight:bold;
}
.introduction_section{
  padding-bottom: 325px;
}
.introduction_1{
  padding-top:200px;
  letter-spacing: 5px;
  color: var(--primary-color) !important;
}
.introduction_2{
  color: var(--primary-color2) !important;
}
.secondary_color3{
  color: var(--secondary-color3) !important;
}
.contacts{
  -webkit-text-stroke:0.5px #361B28;
  -webkit-text-fill-color:transparent;
  transition: transform 300ms ease-in-out;
}
.contacts:hover{
  -webkit-text-stroke: 0.5px var(--primary-color2);
  -webkit-text-fill-color: white;
  transform:translateY(-4px);
  transition: transform 500ms ease-in-out;
}
.left_line{
  background-color: #361B28;
  width:1px;
  height: 60%;
  bottom: 29%;
  left: 15px;
}
.social_logo{
  writing-mode: vertical-lr;
  top: 70%;
  left: 7px;
  letter-spacing: 10px;
}
.profile{
  padding-top:100px;
}
.profile_pic{
  border: 0.5px solid;
  border-color: var(--primary-color);
  border-bottom:none;
  border-top:none;
}
.email{
  writing-mode:vertical-rl;
  transform:rotate(-180deg);
  top: 40%;
  right:0;
  background-color: #361B28 !important;
}
.email a{
  text-decoration:none !important;
}
.email_text{
  color: #D7CEC7 !important;
}
.email_text:hover{
  color:white !important;
}
.html{
  width: 90% !important;
  background-color:darkorange !important;
  height: 4px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animateSkillset 2s cubic-bezier(1,0,0.5,1) forwards;
}
.html:hover{
  background:darkorange;
  box-shadow: 0 0 10px darkorange, 0 0 20px darkorange, 0 0 40px darkorange;
}
.css{
  width: 85% !important;
  background-color:blue !important;
  height: 4px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animateSkillset 2s cubic-bezier(1,0,0.5,1) forwards;
}
.css:hover{
  background:darkorange;
  box-shadow: 0 0 10px blue, 0 0 20px blue, 0 0 40px blue;
}
.java{
  width: 80% !important;
  background-color:red !important;
  height: 4px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animateSkillset 2s cubic-bezier(1,0,0.5,1) forwards;
}
.java:hover{
  background:darkorange;
  box-shadow: 0 0 10px red, 0 0 20px red, 0 0 40px red;
}
.bootstrap{
  width: 85% !important;
  background-color:#6610f2 !important;
  height: 4px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animateSkillset 2s cubic-bezier(1,0,0.5,1) forwards;
}
.bootstrap:hover{
  background:#6610f2;
  box-shadow: 0 0 10px #6610f2, 0 0 20px #6610f2, 0 0 40px #6610f2;
}
.react{
  width: 70% !important;
  background-color:lightblue !important;
  height: 4px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animateSkillset 2s cubic-bezier(1,0,0.5,1) forwards;
}
.react:hover{
  background:lightblue;
  box-shadow: 0 0 10px lightblue, 0 0 20px lightblue, 0 0 40px lightblue;
}
.cpp{
  width: 45% !important;
  background-color:rgb(11, 60, 135) !important;
  height: 4px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animateSkillset 2s cubic-bezier(1,0,0.5,1) forwards;
}
.cpp:hover{
  background:rgb(11, 60, 135);
  box-shadow: 0 0 10px rgb(11, 60, 135), 0 0 20px rgb(11, 60, 135), 0 0 40px rgb(11, 60, 135);
}
.c{
  width: 55% !important;
  background-color:rgb(35, 123, 255) !important;
  height: 4px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animateSkillset 2s cubic-bezier(1,0,0.5,1) forwards;
}
.c:hover{
  background:rgb(35, 123, 255);
  box-shadow: 0 0 10px rgb(35, 123, 255), 0 0 20px rgb(35, 123, 255), 0 0 40px rgb(35, 123, 255);
}
.swift{
  width: 35% !important;
  background-color:rgb(0, 8, 255) !important;
  height: 4px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animateSkillset 2s cubic-bezier(1,0,0.5,1) forwards;
}
.swift:hover{
  background:rgb(0, 8, 255);
  box-shadow: 0 0 10px rgb(0, 8, 255), 0 0 20px rgb(0, 8, 255), 0 0 40px rgb(0, 8, 255);
}
.projects_border{
  border: 1px solid !important;
  border-color: #708090 !important;
}
.project_text{
  font-size: 0.8rem;
}
.skillset-text{
  font-size: 1.05rem;
}
.project-border{
  border: 0.8px solid var(--primary-color2);
}
.main-circle{
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  animation: spin-clockwise 60s linear infinite;
}
.orbiting-icons{
  width: 50px;
  height: 50px;
  position: absolute;
  transform-origin: center;
}
.img-orbit{
  animation: rotation 60s linear infinite;
}

.main-circle .orbiting-icons{
  list-style: none;
}
.orbiting-icons:nth-child(1){
 transform: translate(-5rem, 0rem);
}
.orbiting-icons:nth-child(2){
  transform: translate(-5rem, 4rem);
}
.orbiting-icons:nth-child(3){
  transform: translate(5rem, 0rem);

}
.orbiting-icons:nth-child(4){
  transform: translate(5rem, 4rem);
}
.orbiting-icons:nth-child(5){
  transform: translate(-2rem, -3rem);
}
.orbiting-icons:nth-child(6){
  transform: translate(2rem, -3rem);
}
.orbiting-icons:nth-child(7){
  transform: translate(-2rem, 7rem);
}
.orbiting-icons:nth-child(8){
  transform: translate(2rem, 7rem);
}
.col1{
  /* background-color: rgba(54, 27, 40, .9); */
  position: relative !important;
  z-index: 0 !important;
}
.col2_lmargin{
  background-color: rgba(54, 27, 40, .9);
  color: #D7CEC7;
}
.nounderline_link{
  text-decoration:none !important;
}
.left_margin{
margin-left: -10%;
z-index: 3;
}
.left_margin2{
  display:none;
}
.right_margin{
  margin-right: -10%;
}
.right_margin2{
  display:none;
}
.lgscreen-project__tagtexts{
  font-size: 0.7rem;
  color: #c45ab8;
}
.mobile-project__tagtexts{
  font-size: 0.48rem;
  font-weight: bold !important;
  color: #c45ab8;
}
.col2_rmargin{
  height: 70%;
  background-color: rgba(54, 27, 40, .9);
  color: #D7CEC7;
}
.github_projects{
  -webkit-text-stroke:0.5px #361B28;
  -webkit-text-fill-color:white;
  transition: transform 300ms ease-in-out;
  z-index: 1;
  text-decoration: none !important;
}
.github_projects:hover{
  -webkit-text-stroke: 0.5px var(--primary-color2);
  transform:translateY(-2px);
  transition: transform 500ms ease-in-out;
  text-decoration:none !important;
}
.profile_animation{
  animation: fade 1s ease-in;
}
.profile_pic_animation{
  animation: slideInFromTop 1.2s ease-in;
}
.nav_bg{
  background-color: #361B28 !important;
}
.text_maroon{
  color: #800000 !important;
}
.text_gray{
  color:var(--secondary-color3);
}
.project-section{
  
}
/* .main-div{
  position: relative !important;
  width: 100%;
  min-height: 300px;
  max-width: 40ch;
  left: 20rem;
}
.secondary-div{
  position: absolute !important;
  object-fit: cover;
  width: 100%;
  max-width: 70ch;
  left: 23rem;
  top: 4rem;
  background-color: rgba(54, 27, 40, .9);
} */
/* sliding CSS animations */
@keyframes rotation {
  from {
    transform: rotate(359deg);
  } to {
    transform: rotate(0deg);
  }
}
@keyframes spin-clockwise {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animateSkillset {
  100%{
    transform: scaleX(1);
  }
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes fade{
  50%{
    opacity: 50%;
  }
  100%{
    opacity: 100%;
  }
}
/*responsiveness*/
/* @media(max-width: 1189px){
  .main-div{
    left: 15rem;
  }
}
@media(max-width: 1096px){
  .main-div{
    left: 11rem;
  }
}
@media(max-width: 980px){
  .main-div{
    left: 7rem;
  }
}
@media(max-width: 900px){
  .main-div{
    left: 3rem;
  }
}
@media(max-width: 835px){
  .main-div{
    left: 13%;
  }
  .secondary-div{
    left: 2rem;
  }
} */

@media(max-width:766px){
  /* .project_img{
    width: 100% !important;
  } */
  .project_text{
  font-size: 0.8rem !important;
  }
  .hide_text{
    display:none;
  }
  .left_margin2{
    margin-left:-100%;
    visibility: visible !important;
    display:block;
  }
  .light_text{
    color: #c45ab8 !important;
  }
  .right_margin2{
    margin-right: -100%;
    visibility: visible !important;
    display:block;
  }
}
@media(max-width: 577px){
  .project_text{
    font-size:0.75rem !important;
  }
}
@media(max-width: 546px){
  .project_tagtexts{
    font-size: 0.57rem;
  }
}
@media(max-width:437px){
  .profile_text{
    font-size: 0.9rem !important;
  }
  .project_tagtexts{
    font-size: 0.45rem !important;
  }
}
@media(max-width:417px){
  .hide_tagtexts{
    display:none;
  }
}